[identity_v2]
serialize_format=json
deserialize_format=json
token_id
region=RegionOne
identity_service_name=keystone

[identity_v2_user]
username=admin
password=nomoresecrete
tenant_name=admin



## IN CLOUDCAFE: CAFE_identity_v2_token_id: None
## IN CLOUDCAFE: CAFE_identity_v2_user_tenant_name: None
## IN CLOUDCAFE: CAFE_identity_v2_user_tenant_id: None
## IN CLOUDCAFE: CAFE_identity_v2_user_authentication_endpoint: None
