[user_auth_config]
endpoint=<http://x.x.x.x:35357>
strategy=<keystone;raxauth;saio_tempauth>

# This should not be an admin user
[user]
username
password
tenant_name

[images_admin_user]
username
password
tenant_name

[images_secondary_user]
username
password
tenant_name

[compute_endpoint]
region
compute_endpoint_name

[flavors]
primary_flavor
secondary_flavor

[images]
base_url
primary_image
secondary_image
image_status_interval=15
snapshot_timeout=900
created_at_offset=300
updated_at_offset=300

# an image that is preloaded in your deployment for testing
test_image

# default properties used in some tests
test_container_format
test_disk_format

# remote_image is an image file hosted remotely
remote_image

# http_image is an image file that Glance should attempt to download
http_image

# image_schema_json is the path of the json file
# which contains the image schema data
image_schema_json

# images_schema_json is the path of the json file
# which contains the images schema data
images_schema_json
